@charset "utf-8";
/* CSS Document */
html
{
width:100%;
margin:0;
}
@font-face
{
	font-family: 'Awesomefonts';
	src:url('../fonts/FontAwesome.otf');
}
p
{
font-family: 'Duru Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,p
{
	color: #000;
}
body
{
background:#d6d6d6 fixed;
margin:0;
}
.content_container
{
height:auto;
width:100%;
float:left;
}
.player_name_div
{
	padding: 1em 0.2em;
width:200px;
margin:0 auto;
/*background-image:url(../imgs/circle_bg.png);*/
background-repeat:no-repeat;
/*background-size:100% 100%;*/
text-align:center;
overflow:hidden;
position: absolute;
right: 1em;
top:0;
/*display:block;*/
}
.player_name_div a
{
	background: #CE1D23;
	border-radius: 5px;
	padding: 0.5em 1.5em;
}
#playername
{
padding-bottom: 0.5em;
text-align:center;
font-size: 1.8em;
color:#000;
}
.line
{
position:absolute;
z-index:-10;
}
.frame_container
{
height:60%;
width:100%;
float:right;
overflow:hidden;
position: absolute;
top: 40%;
}
.hint_container
{
height:auto;
width:10%;
margin-left:3%;
float:left;
padding:20px;
overflow:hidden;
color:#FFFFFF;
font-size:20px;
text-align:center;
font-family: 'Duru Sans', sans-serif;
position: absolute;
top: 25%;
right: 2%;
background: #2e3a47;
}
.hint_container p
{
	color: #fff;
}
.form_container
{
height:auto;
padding:20px;
width:60%;
margin:0 auto;
display: block;
margin-top:1em;
overflow:hidden;
color:#FFFFFF;
font-family: 'Duru Sans', sans-serif;
vertical-align: middle;
text-align: center;
}
.form_container form
{
	vertical-align: middle;
}
#question
{
	font-size: 1.5em;
	padding: 0.5em;
	
}
.text_field
{
background:rgba(255,255,255,0.2);
padding: 1em !important;
margin-bottom: 0.5em;
min-width: 8em !important;
}
#submit_bttn
{
background-color:#f2303d;
font-family: 'Duru Sans', sans-serif;
color:#FFFFFF;
height:30px;
width:100px;
border-radius:5px;
border:none;
vertical-align: top;
border: 1px solid transparent;
transition:all 0.2s;
-webkit-transition:all 0.2s;
-moz-transition:all 0.2s;
-o-transition:all 0.2s;
}
#submit_bttn:hover
{
	border: 1px solid #f2303d;
	background: #fff;
	color: #f2303d !important;
}
.passedplayersinfodiv
{
width:10%;
padding:20px;
margin-top:1em;
margin-bottom: 10px;
overflow:hidden;
color:#fff;
font-family: 'Duru Sans', sans-serif;
background: #2e3a47;
transition:all 0.2s;
position: absolute;
left: 0;
top: 20%;
}
.passedplayersinfodiv p
{
	color: #fff;
}
.passedplayersinfodiv:hover
{
	transform:translateX(-10px);
	-webkit-transform:translateX(-10px);
	-moz-transform:translateX(-10px);
	-o-transform:translateX(-10px);
}
.rules_div
{
background-color:#D7D7D7;
height:100%;
width:0%;
float:left;
}
.rules_bttn
{
height:50px;
width:200px;
border-radius:5px;
background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(229,229,229,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(229,229,229,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(229,229,229,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(229,229,229,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(229,229,229,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(229,229,229,1) 0%,rgba(229,229,229,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#00e5e5e5',GradientType=0 ); /* IE6-9 */

border:1px #000000 solid;
color:#000000 ;
font-size:18px;
font-family: 'Duru Sans', sans-serif;
text-align:center;
margin:0 auto;
cursor:pointer;
}
.rules_bttn:hover
{
background:#feac1e;
cursor:pointer;
}

.cl-effect-14 a {
	padding: 0 20px;
	height: 45px;
	line-height: 45px;
}

.cl-effect-14 a::before,
.cl-effect-14 a::after {
	position: absolute;
	width: 45px;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0.2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	pointer-events: none;
}

.cl-effect-14 a::before {
	top: 0;
	left: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
}

.cl-effect-14 a::after {
	right: 0;
	bottom: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::before,
.cl-effect-14 a:focus::after {
	opacity: 1;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:focus::before {
	left: 50%;
	-webkit-transform: rotate(0deg) translateX(-50%);
	-moz-transform: rotate(0deg) translateX(-50%);
	transform: rotate(0deg) translateX(-50%);
}

.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::after {
	right: 50%;
	-webkit-transform: rotate(0deg) translateX(50%);
	-moz-transform: rotate(0deg) translateX(50%);
	transform: rotate(0deg) translateX(50%);
}
